#F{
	background-color: orange;
	font-weight: bold;
}
#O{
	background-color: red;
	font-weight: bold;
}
#C{
	background-color: black;
	color: white;
	font-weight: bold;
}
#E{
	background-color: lime;
	font-weight: bold;
}
#S{
	background-color: blue;
	color: white;
	font-weight: bold;
}