body{
	background-color: #E0E0E0;
}
h1{
	text-align: center;
	font-size: 40px;
	font-family: tahoma;
}
div h1{
	background-color: white;
	border: solid 2px black;
	margin: auto;
	text-align: center;
	width: 60%;
	height: 50px;
	border-radius: 15px;
	padding: 15px;
}
form{
	background-color: #7FAAFF;
	border: solid 1px black;
	margin: auto;
	width: 50%;
	border-radius: 5px;
	padding: 5px;
}
.centrado_b{
	background-color: #D4FFD4;
	margin: auto;
	text-align: center;
	border: double 1px black;
	border-radius: 5px;
	padding: 10px;
	width: 50%;
	height: 23px;
}
.centrado{
	margin: auto;
	text-align: center;
}