body {
	background-color: #FF9922;
}

table {
	border: solid 1px black;
	text-align: center;
	margin: auto;
	width: 30%;
}

tr.gris {
	background-color: #AAAAAA;
}

tr.blanco {
	background-color: white;
	}     

tr.negro {
	background-color: black;
	color: white;
	font-weight: bold;
}